body{
    background: url(images/egusi.jpg);
}
.myButtons button{
    background-color: greenyellow;
    right: 50%;
    display: inline-block;
    border: #fff solid 1px;
    padding: 80px 0px;
    width: 50%;
    height: 20px;
}
.myButtons button:hover{
    background-color: transparent;
    transition: ease-in all 0.6s;
    color: rgb(0, 0, 0);
}

.contact {
    background-image: url(images/rice.jpg);
    background-repeat: no-repeat;
    background-position: center;    
}

.contact .titlepage h2 {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}

.main_form .contacts {
    border: #fff solid 1px;
    padding: 0px 0px;
    margin-bottom: 25px;
    width: 45%;
    height: 20px;
    background: rgb(255, 255, 255);
    color: #000000;
    font-size: 15px;
    font-weight: normal;
    border-radius: 1px;
}

.main_form .send_btn {
    font-size: 20px;
    transition: ease-in all 0.5s;
    background-color:yellowgreen;
    border: rgb(0, 0, 0) solid 3px;
    text-transform: uppercase;
    color: rgb(58, 51, 51);
    padding: 1px 0px;
    max-width: 100px;
    width: 50%;
    display: block; 
    font-weight: 500;
}

.main_form .send_btn:hover {
    background-color: #02f8e4;
    transition: ease-in all 0.5s;
    color: rgb(11, 131, 243);
}

#request *::placeholder {
    color: #989696;
    opacity: 2;
}

.footer {
    background: #202020;
    padding-top: 80px;
    text-align: center;
}
.copyright {
    margin-top: 60px;
    padding-bottom: 20px;
    background-color: #fff;
}

.copyright p {
    color: #000;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    padding-top: 25px;
    font-weight: normal;
}
p{
    font-size: 20px;
    background-color:transparent;
    cursor: pointer;
    text-transform: uppercase;
}
p:hover{
    background-color: yellowgreen;
    transition: step-end 0.10s;
}